@import url('https://fonts.googleapis.com/css2?family=Paprika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

/*-----------------------Banner-----------------------*/

h1 {
    text-align: center;
    margin: 60px auto;
    font-size: 80px;
    font-family: 'Paprika';
}

h2 {
    text-align: center;
    font-size: 40px;
}

h4 {
    font-family: 'Source Sans Pro', sans-serif;
}


/*--------Navbar--------*/

nav {
    margin: 27px auto 0;
    position: relative;
    width: 800px;
    height: 60px;
    background-color: #5b758da6;
    border-radius: 12px;
    font-size: 0;
}

nav a {
    line-height: 60px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: white;
    cursor: pointer;
}


/*----Animations----*/

nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 12px;
}

nav a:hover {
    color: #e4b7ba;
    text-decoration: none;
}

a:nth-child(1) {
    width: 200px;
}

a:nth-child(2) {
    width: 200px;
}

a:nth-child(3) {
    width: 200px;
}

a:nth-child(4) {
    width: 200px;
}

nav .start-home,
a:nth-child(1):hover~.animation {
    width: 200px;
    left: 0;
    background-color: #1585cf;
}

nav .start-balaton,
a:nth-child(2):hover~.animation {
    width: 200px;
    left: 200px;
    background-color: #399ac0;
}

nav .start-london,
a:nth-child(3):hover~.animation {
    width: 200px;
    left: 400px;
    background-color: #51a8c2;
}

nav .start-kuala,
a:nth-child(4):hover~.animation {
    width: 200px;
    left: 600px;
    background-color: #5bb9b9;
}


/*---------------------------Main------------------------------------*/

body {
    background-image: url(images/plane3.1_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

main p {
    font-size: 22px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: justify;
}

#first_main {
    line-height: 40px;
    margin-bottom: 70px;
}

main h2 {
    font-size: 40px;
    margin-bottom: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
}

.mid {
    background-color: #5b758da6;
    padding: 30px;
    border-radius: 20px;
    margin: 50px auto;
}

#first_mid {
    background-color: #5b758dc2;
}


/*--------------------------------------Subpages-----------------------------------------*/


/*------------------Banner----------------*/

.subpage-body h1 {
    background-color: #5b758db7;
    margin: 50px auto;
    width: 60vh;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.5);
}

.nav2_0 {
    margin: 0 auto;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 3px 8px 5px rgba(0, 0, 0, 0.5);
    background-color: #5b758dea;
}

.nav2_0 .animation {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.subpage-body>header>.container-fluid {
    width: 100%;
    height: 300px;
    border-bottom: 4px solid black;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.5);
}

#p2_bg {
    background-image: url(images/balaton.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#p3_bg {
    background-image: url(images/waldorfháttér.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#p4_bg {
    background-image: url(images/malaysiaháttér.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#p4_bg h1 {
    width: 80vh;
}


/*-------------Background-------------------*/

.subpage-body {
    background-color: #8d416d;
    background-image: linear-gradient(to bottom right, #8d416d, #589cd1, #cae4f5, #b4618e, #f1c5ca);
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/*------------Image-block----------------*/

* {
    box-sizing: border-box
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.mySlides img {
    border-radius: 20px;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.5s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #e4b7ba;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/*-----------InputInterface-------------*/

.dropdown {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(images/circle-chevron-down-solid.svg);
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 20px;
    width: 100px;
    height: 50px;
    padding-left: 35px;
    font-size: 18px;
    font-family: Paprika;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.651);
    margin-bottom: 30px;
}

.dropdown option {
    font-size: 12px;
}

#sum {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 5px;
}

button {
    display: block;
    margin: auto;
}


/*-----------------------------Footer--------------------------------*/

footer {
    min-height: 200px;
    margin-top: auto;
    background-color: rgb(29, 29, 29);
}

footer h3,
footer p {
    text-align: center;
    color: white;
}

footer h3 {
    margin: 30px;
    font-family: Paprika;
}

footer p {
    font-size: 14px;
    font-family: Balsamiq Sans;
    letter-spacing: 1px;
    line-height: 25px;
}


/*----------------------Responsive------------------------------*/

.short-text {
    display: none;
}

@media screen and (max-width: 992px) {
    html {
        height: 100%;
    }
    body {
        height: 100%;
        margin: 0;
        background-image: none;
        background-color: #8d416d;
        background-image: linear-gradient(to bottom right, #8d416d, #589cd1, #cae4f5, #b4618e, #f1c5ca);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    nav {
        width: 640px;
    }
    a:nth-child(1) {
        width: 160px;
    }
    a:nth-child(2) {
        width: 160px;
    }
    a:nth-child(3) {
        width: 160px;
    }
    a:nth-child(4) {
        width: 160px;
    }
    nav .start-home,
    a:nth-child(1):hover~.animation {
        width: 160px;
        left: 0;
    }
    nav .start-balaton,
    a:nth-child(2):hover~.animation {
        width: 160px;
        left: 160px;
    }
    nav .start-london,
    a:nth-child(3):hover~.animation {
        width: 160px;
        left: 320px;
    }
    nav .start-kuala,
    a:nth-child(4):hover~.animation {
        width: 160px;
        left: 480px;
    }
}

@media screen and (max-width: 768px) {
    nav {
        width: 400px;
    }
    .country[data-abbr]::after {
        content: attr(data-abbr);
    }
    .country>span {
        display: none;
    }
    a:nth-child(1) {
        width: 100px;
    }
    a:nth-child(2) {
        width: 100px;
    }
    a:nth-child(3) {
        width: 100px;
    }
    a:nth-child(4) {
        width: 100px;
    }
    nav .start-home,
    a:nth-child(1):hover~.animation {
        width: 100px;
        left: 0;
    }
    nav .start-balaton,
    a:nth-child(2):hover~.animation {
        width: 100px;
        left: 100px;
    }
    nav .start-london,
    a:nth-child(3):hover~.animation {
        width: 100px;
        left: 200px;
    }
    nav .start-kuala,
    a:nth-child(4):hover~.animation {
        width: 100px;
        left: 300px;
    }
    .subpage-body h1 {
        width: 40vh;
        font-size: 60px;
    }
    #p4_bg h1 {
        width: 40vh;
        font-size: 50px;
    }
}